%% single text file - minimal tty pp389
[
  {sasl, [
    %% all reports go to this file
    {sasl_error_logger, {file, "/Users/chikuse2/Software/DistributedComputing/ErlangPractice/erlangconcepts/src/joearmspesfcw/otp_intro/sasl_configs/logs.txt"}} ,
    {utc_log, true},
    {error_logger_mf_dir, "/Users/chikuse2/Software/DistributedComputing/ErlangPractice/erlangconcepts/src/joearmspesfcw/otp_intro/sasl_configs/logs_dir"},
    {error_logger_mf_maxbytes, 100000000000000} ,
    {error_logger_mf_maxfiles, 200}
  ]}
].